html, body, .fullContainer, .sidebar, .map{
  height: 100%;
  margin: 0;

}

.fullContainer, .color-code {
    display: flex;
}


.sidebar {
  width: 300px;
  padding: 10px;
  text-align: center;
  font: 30px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.map {
  flex-grow:1;
}


.score-container {
  position: relative;
  height: 300px;
  top: 0;
  margin-top: 20px;
  width: 250px;
}

#score {
  font: 80px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}


.legend {
  position: relative;
  padding: 10px;
  height: 150px;
  margin-bottom: 40px;
  text-align: center;
  font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.colors {
  width: 25%;
  height: 30px;
}

#c1 {
  background-color: red;
}

#c2 {
  background-color: orange;
}

#c3 {
  background-color: yellow;
}

#c4 {
  background-color: green;
}

.color-container {
  margin-top: 4px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 15px;
  font-weight:bold;
}
