html, body, .fullContainer, .sidebar, .map{
  height: 100%;
  margin: 0;

}

.fullContainer, .color-code {
    display: flex;
}


.sidebar {
  width: 300px;
  padding: 10px;
  text-align: center;
  font: 30px 'Helvetica Neue', Arial, Helvetica, sans-serif;
   overflow-y: scroll;
}

.map {
  flex-grow:1;
  overflow:hidden;
}


.score-container {
  position: relative;
  height:200px;
  top: 0;
  margin-top: 0px;
  width: 100%;
}



.legend {
  position: relative;
  padding: 10px;
  height: 150px;
  margin-bottom: 40px;
  margin-top: 40px;
  text-align: center;
  font: 12px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}
.informationContainer {
  margin-top: 20px;
  width:100%;
  display: grid;
  grid-column-start: 1;
  grid-column-end: 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.mapinfo {
  position: relative;
  width: 100%;
  text-align: left;
  font: 15px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  height:100px;
}

.colors {
  width: 25%;
  height: 30px;
}

#c1 {
  background-color: red;
}

#c2 {
  background-color: orange;
}

#c3 {
  background-color: yellow;
}

#c4 {
  background-color: green;
}

#mapScore {
  text-align: center;
}

.color-container {
  margin-top: 4px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-bottom: 15px;
  font-weight:bold;
}
